 body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-container {
  background: rgb(218, 159, 159);
  padding: 20px;
  width: 340px;
  border-radius: 8px;
  box-shadow: 10px 15px 10px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
  margin-bottom: 15px;
}
 
.input-box {
  display: flex;
  gap: 6px;
}

input {
  flex: 1;
  padding: 8px;
}

#addBtn {
  padding: 8px 14px;
}

 
ul {
  list-style: none;
  padding: 0;
  margin-top: 15px;
}

li {
  background: #eee;
  padding: 6px 8px;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
}

 
.task-left {
  display: flex;
  align-items: center;
  gap: 8px;
}

 
.task-buttons {
  display: flex;
  gap: 5px;
}

.task-buttons button {
  padding: 4px 8px;
  font-size: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.edit {
  background: orange;
  color: white;
}

.delete {
  background: red;
  color: white;
}

 
li.completed span {
  text-decoration: line-through;
  color: gray;
}

 
.footer {
  margin-top: 12px;
  text-align: center;
}

#clearBtn {
  width: 100%;
  padding: 8px;
  background: black;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  opacity: 0.85;
  background-color: rgb(231, 145, 134);
  border-color:rgb(231, 145, 134) ;
  border-radius: 4px;
}
